*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1C2833;
  font-family: sans-serif;
}
.profile-img{
  width:40%;
  float: right;
  margin-top: 60px;

}
.profile-img img{
  width:100%;
  height:100%;
  border-radius: 4px;
}
.About{
  margin-left: 15px;
  margin-bottom: 70px;
}
.profile-info{
  width: 60%;
  height:100vh;
  float:left;
  padding:0 30px;
  color: #BDC3C7;
}
.profile-info{
  margin-top: 50px;
  margin-bottom: 30px;
}
.social-media img{
  height: 40px;
  margin-right: 15px;

}
.container h2{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 40px;
  text-align: center;
  color: #FC8600  ;
}
.social-media {
  margin-top: 20px;
  float:right;A

}
.About-me {
  margin-top: 20px

}
.About-me h2 {
  margin-top: 20px;
  margin-bottom:15px;
  color: #FC8600  ;
}
.About-me ol{
  margin-top:20px;
  margin-left: 15px;
}
.About-me ul {
  margin-top:20px;
  margin-left:15px;
}
.why{
  margin-top: 20px;
  margin-left: 15px;
}
.h1{
  font-size: 50px;
  margin-left:15px;
  color: #FC8600  ;
}
.list {
  margin-bottom: 15px;
}
.projects{
  margin-top: 15px;

}
.projects p{
  margin-bottom: 15px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #959CA1;
  border-radius: 4px;
  box-sizing: border-box; ]
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #9598A1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.container {
  border-radius: 5px;
  background-color: #1C2833;
  padding: 20px;
  margin-left: 35%;
  width: 100%;

}
