*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1C2833;
  font-family: sans-serif;
}
.profile-img{
  width:40%;
  float: right;
}
.profile-img img{
  width:100%;
  height:100%;
}
.About{
  margin-left: 15px;
}
.profile-info{
  width: 60%;
  height:100vh;
  float:left;
  padding:0 30px;
  color: #BDC3C7;
}
.profile-info{
  margin-top: 50px;
  margin-bottom: 30px;
}
.social-media img{
  height: 40px;
  margin-right: 15px;
}
.social-media {
  margin-top: 20px
  margin-left:15px;
}
.About-me {
  margin-top: 20px

}
.About-me h3 {
  margin-top: 20px;
}
